.App {
  text-align: center;
}
.Logo {
  background: url(NC-Logo.jpg);
  background-size: contain;
  width: 100px;
  height: 45px;
  margin: 0;
  display: flex;
}
.Logo > h3 {
  position: relative;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 18px;
}
.Overview {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  max-height: 0px;
  background-color: #282c34;
  color: #282c34;
  width: 100%;
}
.Bar-red {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 55px;
  color: #282c34;
  background-color: #fb6161;
  max-width: 13vh;
  display: flex;
  justify-content: flex-end;
}
.Bar-blue {
  z-index: 9999;
  height: 20px;
  color: #282c34;
  background-color: #61dafb;
  margin-right: 75%;
  width: 100%;
}
.Content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Card {
  display: flex;
  flex-direction: column;
  width: 75vh;
  max-width: 90%;
  border: 4px solid #61dafb;
  background: url(Notecard.jpg);
}
.Card-flipped {
  border: 4px solid #fb6161;
}
.Card-count-flipped {
  color: #282c34;
}
.CardView {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.DeckView {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.Deck {
  height: 27vh;
  width: 45vh;
  margin: 50px;
  text-align: center;
  background: url(Notecard.jpg);
}
h1 {
  padding: 2vh;
}
.Navigation {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  margin-top: 3vh;
}
.Button-arrow {
  flex-shrink: inherit;
}
.Icon-arrow {
  min-width: 6vh;
  min-height: 6vh;
  color: white;
}

.Icon-arrow:active {
  color: #fb6161;
}
