:root {
  --color-blue: #74cde6;
  --color-blue-blur: #74cde67a;
  --color-blue-active: #a4dff0;
  --color-blue-active-blur: #a4dff081;
  --color-red: #fb6161;
  --color-red-active: #b84a4a;
  --color-red-blur: #b84a4a81;
  --color-yellow: #e9d11d;
  --color-bg-light: rgb(255, 251, 234);
  --color-bg: #282c34;
  --color-bg-blur: #282c347c;
  --color-control-panel: #ecf8fc;
  --overview-height: 64px;
}
button:focus {
  outline-style: none;
}
p {
  margin: 0px;
}
.App {
  font-family: 'Indie Flower', cursive;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
